<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
    <meta charset="UTF-8">
    <title>notAuthorized</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <head>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger mt-3" >
        <h2><b>L'accès à ce page n'est pas autorisé.contacter votre administrateur</b></h2>
    </div>
</div>
</body>
</html>